// VARIABLES

//ABSOLUTE COLOURS
$white:         #ffffff !default;
$black:         #000000 !default;
$black-19:      #191b1d !default;

// WHITE SHADES
$white-90:     #E4E4E7 !default;
$white-95:     #F1F1F3 !default;
$white-97:     #F7F7F8 !default;
$white-99:     #FCFCFD !default;

// GREY SHADES
$grey-8A:     #8a8a8a !default;
$grey-4A:     #4a4a4a !default;


// FONTS
$basefont: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;